{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>Test</h1>
        <testcomponent></testcomponent>
    </div>
</body>

<script src="{% static 'js/app.js' %}"></script>
</html>